<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">uHire App</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="material-icons">view_list</i></a></li>
            <li><a href="<%= videos_path %>"><i class="material-icons">video_library</i></a></li>
            <li><a href="<%= pages_about_path %>"><i class="material-icons">whatshot</i></a></li>
            <li><a href="<%= pages_contact_path %>"><i class="material-icons">perm_identity</i></a></li>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#"><i class="material-icons">view_list</i></a></li>
    <li><a href="<%= pages_about_path %>"><i class="material-icons">whatshot</i></a></li>
    <li><a href="<%= pages_contact_path %>"><i class="material-icons">perm_identity</i></a></li>
</ul>